<section class="features-area">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-help"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">7/24 Destek Hizmeti</h6>
                        <p>Uçuş rezervasyonu ve sorularınız için bizimle iletişime geçebilirsiniz.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-plane"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">Uluslararası Uçuşlar</h6>
                        <p>Dünya genelindeki destinasyonlara uygun fiyatlı uçuş seçeneklerini keşfedin.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-money-back-guarantee"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">Kolay İade Süreci</h6>
                        <p>Bilet iptali ve iade işlemlerinizi hızlı ve güvenli şekilde gerçekleştirin.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
