<section class="fly-next-area">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span class="sub-title">Popüler Uçuş Paketleri</span>
                    <h2 class="title">Bir Sonraki Seyahatinizi Keşfedin</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="fly-next-nav">
                    <button class="active" data-filter="*">Popüler Uçuşlar <i class="flaticon-flight"></i></button>
                    <button data-filter=".cat-one">Avrupa Destinasyonları <i class="flaticon-globe"></i></button>
                    <button data-filter=".cat-two">En Çok Tercih Edilenler <i class="flaticon-star"></i></button>
                </div>
            </div>
        </div>

        <div class="row fly-next-active">

            <!-- CARD 1 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-item cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="#"><img src="/geair/assets/img/images/fly_img01.jpg"></a>
                    </div>
                    <div class="fly-next-content">
                        <span>12 Mayıs 2026 - 19 Mayıs 2026</span>
                        <h4 class="title">İstanbul (Türkiye)</h4>
                        <a class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Paris (Fransa)</h4>
                        <a class="air-logo"><img src="/geair/assets/img/icon/fly_icon01.jpg"></a>
                        <div class="content-bottom">
                            <p>Ekonomi sınıfı</p>
                            <h4 class="price">2.150 TL</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARD 2 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-item cat-one">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <img src="/geair/assets/img/images/fly_img02.jpg">
                    </div>
                    <div class="fly-next-content">
                        <span>18 Mayıs 2026 - 25 Mayıs 2026</span>
                        <h4 class="title">Ankara (Türkiye)</h4>
                        <a class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Berlin (Almanya)</h4>
                        <a class="air-logo"><img src="/geair/assets/img/icon/fly_icon02.jpg"></a>
                        <div class="content-bottom">
                            <p>Ekonomi sınıfı</p>
                            <h4 class="price">1.980 TL</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARD 3 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-item cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <img src="/geair/assets/img/images/fly_img03.jpg">
                    </div>
                    <div class="fly-next-content">
                        <span>22 Mayıs 2026 - 29 Mayıs 2026</span>
                        <h4 class="title">İzmir (Türkiye)</h4>
                        <a class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Roma (İtalya)</h4>
                        <a class="air-logo"><img src="/geair/assets/img/icon/fly_icon03.jpg"></a>
                        <div class="content-bottom">
                            <p>Ekonomi sınıfı</p>
                            <h4 class="price">2.050 TL</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARD 4 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-item cat-one">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <img src="/geair/assets/img/images/fly_img04.jpg">
                    </div>
                    <div class="fly-next-content">
                        <span>01 Haziran 2026 - 08 Haziran 2026</span>
                        <h4 class="title">İstanbul (Türkiye)</h4>
                        <a class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Amsterdam (Hollanda)</h4>
                        <a class="air-logo"><img src="/geair/assets/img/icon/fly_icon01.jpg"></a>
                        <div class="content-bottom">
                            <p>Ekonomi sınıfı</p>
                            <h4 class="price">2.200 TL</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARD 5 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-item cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <img src="/geair/assets/img/images/fly_img05.jpg">
                    </div>
                    <div class="fly-next-content">
                        <span>10 Haziran 2026 - 17 Haziran 2026</span>
                        <h4 class="title">Ankara (Türkiye)</h4>
                        <a class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Madrid (İspanya)</h4>
                        <a class="air-logo"><img src="/geair/assets/img/icon/fly_icon03.jpg"></a>
                        <div class="content-bottom">
                            <p>Ekonomi sınıfı</p>
                            <h4 class="price">1.990 TL</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARD 6 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-item cat-one">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <img src="/geair/assets/img/images/fly_img06.jpg">
                    </div>
                    <div class="fly-next-content">
                        <span>15 Haziran 2026 - 22 Haziran 2026</span>
                        <h4 class="title">İzmir (Türkiye)</h4>
                        <a class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Viyana (Avusturya)</h4>
                        <a class="air-logo"><img src="/geair/assets/img/icon/fly_icon02.jpg"></a>
                        <div class="content-bottom">
                            <p>Ekonomi sınıfı</p>
                            <h4 class="price">2.070 TL</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARD 7 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-item cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <img src="/geair/assets/img/images/fly_img07.jpg">
                    </div>
                    <div class="fly-next-content">
                        <span>20 Haziran 2026 - 27 Haziran 2026</span>
                        <h4 class="title">İstanbul (Türkiye)</h4>
                        <a class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Prag (Çekya)</h4>
                        <a class="air-logo"><img src="/geair/assets/img/icon/fly_icon01.jpg"></a>
                        <div class="content-bottom">
                            <p>Ekonomi sınıfı</p>
                            <h4 class="price">2.040 TL</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARD 8 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-item cat-one">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <img src="/geair/assets/img/images/fly_img08.jpg">
                    </div>
                    <div class="fly-next-content">
                        <span>25 Haziran 2026 - 02 Temmuz 2026</span>
                        <h4 class="title">İzmir (Türkiye)</h4>
                        <a class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Budapeşte (Macaristan)</h4>
                        <a class="air-logo"><img src="/geair/assets/img/icon/fly_icon02.jpg"></a>
                        <div class="content-bottom">
                            <p>Ekonomi sınıfı</p>
                            <h4 class="price">1.990 TL</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>